@import './variables';

@mixin uwds-button-base() {
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    min-width: 64px;
    height: $uwds-button-height;
    padding: 0 8px;
    border: none;
    outline: none;
    /* @alternate */
    line-height: inherit;
    user-select: none;
    -webkit-appearance: none;
    overflow: hidden;
    vertical-align: middle;
    transition: $uwds-button-transition;
    border-radius: $uwds-button-radius;
    background: transparent;
    color: $uwds-button-default-bg;

    &::-moz-focus-inner {
      padding: 0;
      border: 0;
    }

    &:active {
      outline: none;
    }

    &:hover {
      cursor: pointer;
      background: $uwds-button-default-hover;
    }

    &:disabled {
      background: $uwds-button-disabled-bg;
      color: $uwds-button-disabled-color;
      cursor: default;
      pointer-events: none;
    }
}

@mixin uwds-button--flat() {
  @include uwds-button-base;
  @include uwds-button-theme;

  padding: 0 16px;
}

@mixin uwds-button--raised() {
  @include uwds-button-base;
  @include uwds-button-theme;
  @include uwds-button--flat;

  box-shadow: $uwds-button-elevation-1;

  &:hover,
  &:focus,
  &:active {
    box-shadow: $uwds-button-elevation-2;
  }

  &:disabled {
    box-shadow: none;
  }
}

@mixin uwds-button--outlined() {
  @include uwds-button-base;

  color: $uwds-button-default-bg;
  border-color: $uwds-button-default-bg;
  background: transparent;
  border-style: solid;
  padding: 0 14px;
  border-width: 2px;

  &:hover {
    background: $uwds-button-default-hover;
  }
}

@mixin uwds-button--compact() {
  height: 32px;
  font-size: .8125rem;
}

@mixin uwds-button-bg-darken($base-color) {
  background: darken( $base-color, 10% );
}

@mixin uwds-button-theme {
  background: var(--uwds-theme-button-bg, $uwds-button-default-bg);
  color: var(--uwds-theme-button-ink, $uwds-button-on-default);

  &:hover {
    @include uwds-button-bg-darken($uwds-button-default-bg);
  }
}
