<table class="table--developer">
  <thead>
    <tr>
      <th>Feature</th>
      <th>Name</th>
      <th>Usage notes</th>
    </tr>
  </thead>
  <tbody>
      {% if page.attributes %}
      <tr>
        <th>Attributes</th>
        <td>
          <ul>
            {% for attr in page.attributes %}
            <li>{{ attr.name }}</li>
            {% endfor %}
          </ul>
        </td>
        <td>
          <ul>
            {% for attr in page.attributes %}
            <li>{{ attr.note }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      {% endif %}
      {% if page.slots %}
      <tr>
        <th>Slots</th>
        <td>
          <ul>
            {% for slot in page.slots %}
            <li>{{ slot.name }}</li>
            {% endfor %}
          </ul>
        </td>
        <td>
          <ul>
            {% for slot in page.slots %}
            <li>{{ slot.note }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      {% endif %}
      {% if page.cssvars %}
      <tr>
        <th>
          CSS Variables<br>
          <code>{{ page.tagname }} { }</code>
        </th>
        <td>
          <ul>
            {% for css in page.cssvars %}
            <li>{{ css.name }}</li>
            {% endfor %}
          </ul>
        </td>
        <td>
          <ul>
            {% for css in page.cssvars %}
            <li>{{ css.note }}</li>
            {% endfor %}
          </ul>
        </td>
      </tr>
      {% endif %}
  </tbody>
</table>
