<nav class="uwds-vertical-nav">
        <ul class="uwds-vertical-nav__list">
            <li class="uwds-vertical-nav__list-item"><a class="uwds-vertical-nav__list-link" href="#dos-and-donts">Dos and Don'ts</a></li>
            <li class="uwds-vertical-nav__list-item"><a class="uwds-vertical-nav__list-link" href="#values">Values</a></li>
            <li class="uwds-vertical-nav__list-item"><a class="uwds-vertical-nav__list-link" href="#accessibility">Accessibility</a></li>
        </ul>
</nav>
    
    
    