/*
  Styles to govern general content of pages (e.g. HTML coverted from Markdown)
*/
body {
	font-family: $font-family-text;
	font-size: 16px;
  line-height: 1.5;
  background: $color-gray-lightest;
  // Opacity set to 1 when WebComponentsReady event is detected (avoids flashing content)
  opacity: 0;

  .uwds-content-wrapper {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }
  .uwds-content {
    width: 100%;
    box-sizing: border-box;
  }
  main {
    margin: 2rem 3rem 6rem;
  }

  a {
    color: $color-blue;
  }
}

h1 {
  font-size: 2rem;
  line-height: 1.25;
  font-weight: 400;
}

h2 {
  font-size: 1.5rem;
  line-height: 1.25;
  font-weight: 400;
}

h3 {
  font-size: 1.25rem;
  line-height: 1.25;
  font-weight: 500;
}

h4 {
  font-size: 1.125rem;
  line-height: 1.25;
  font-weight: 500;
}

.uwds-view-mode-toggle {
  position: absolute;
  right: 0;

  button {
    margin: 0;
    padding: 0;
    background: none;
    font-family: inherit;
    font-size: inherit;
    border-style: none;

    &.active {
      font-weight: bold;
    }
  }
}

.menu-toggle {
  @media screen and (min-width: $breakpoint-medium) {
    display: none;
  }
}
