.table-of-contents {
  padding: 32px 0;
  &__section {
    margin: 0 $gutter;

    & + & {
      margin-top: $gutter;
      padding-top: $gutter;
      border-top: 1px solid $color-gray-lighter;
    }
  }

  &__h3 {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-size: 1.25rem;
  }

  &__ul {
    margin: $gutter/3 0 $gutter/2 $gutter;
    margin: 10px 0 15px 30px;
    padding: 0;
    list-style: none;
    font-size: 1rem;
  }

  &__li {
    ul.table-of-contents__ul {
      display: none;
    }

    &.active {
      > a {
        font-weight: 600;
      }

      ul.table-of-contents__ul {
        display: block;
        margin-left: 20px;

        li {
          border-left: 3px solid $color-gray-light;
          padding-left: 0.5rem;

          &.sub-item--active {
            border-color: $color-gray-dark;
          }

          + li {
            margin-top: 0;
            padding-top: 0.8rem;
          }
        }
      }
    }
  }

  &__li + &__li {
    margin-top: 12px;
  }

  &__a:link,
  &__a:visited {
    color: $color-black-font;
    text-decoration: none;
  }
}
