.uwds-page__body {
  overflow-y: auto;

  &__column {
    margin-right: auto;
    margin-left: auto;
    max-width: $body-max-width;
    padding: $gutter;
  }
}

@media screen and (min-width: $breakpoint-medium) {
  .uwds-page__body {
    position: absolute;
    top: $topbar-height;
    left: $sidebar-width;
    right: 0;
    bottom: 0;
  }
}
